{% extends 'adminn/base.html' %}
{% load static %}
{% block content %}
{% include 'adminn/dashboard_cards.html'%}
<br><br><br><br>
<div class="container">
  <div class="row">
    <div class="panel panel-primary col-md-5" style="margin-left:2%;">
      <div class="panel-heading" style="text-align:center;">
        <h6 class="panel-title">Recent Technician</h6>
      </div>
      <table class="table table-hover" id="dev-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Mobile</th>
            <th>Status</th>

          </tr>
        </thead>
        {% for d in TotalTechnicians %}
        <tr>
          <td> {{d.last_name}}</td>
          <td>{{d.address}}</td>
          <td>{{d.mobile}}</td>
          {%if d.status%}
          <td> <span class="label label-primary">Permanent</span></td>
          {% else %}
          <td> <span class="label label-success">On Hold</span></td>
          {% endif %}

        </tr>
        {% endfor %}
      </table>
    </div>

    <div class="panel panel-primary col-md-5" style="margin-left:5%;">
      <div class="panel-heading" style="text-align:center;">
        <h6 class="panel-title">Recent Customer</h6>
      </div>
      <table class="table table-hover" id="dev-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Symptoms</th>
            <th>Mobile</th>
            <th>Address</th>
            <th>Status</th>

          </tr>
        </thead>
        {% for c in Customer %}
        <tr>
          <td> {{c.first_name}}</td>
          <td>{{c.address}}</td>
          <td>{{c.mobile}}</td>
          <td>{{c.address}}</td>
          {%if c.status%}
          <td> <span class="label label-primary">Onboard</span></td>
          {% else %}
          <td> <span class="label label-success">On Hold</span></td>
          {% endif %}

        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock content %}